
.App {
  text-align: center;
  margin:100px;
  margin-top: 150px;
  background-color: transparent;
}
.container{
  text-align: center;
  flex-direction: column;
  background-color: transparent;
}
.inserir{
  padding-left: 9px;
  padding-bottom: 10px;
}
input{
  font-size: 20px;
  text-align: center;
  color: #fff;
}
img{
  height: 900px;
}
button{
  border-radius: 20px;
  padding: 10px;
}
p{
  color: rgb(233, 233, 235);
 }
img{
  width: 200px;
  height: 200px;
}
 *{
   background: linear-gradient(90deg, rgb(0, 45, 128), rgb(2, 50, 78), rgb(0, 45, 128));
 }

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #0c45b8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(187, 187, 187);
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
